.card{
    width: 17rem;
    border-color: rgb(227, 163, 176);
    border-width: 2px;
    
}
.card-body{
    background-color: rgb(251, 224, 229);
}
.card-img-top{
    height:250px;
}
.d-flex{
    justify-content: space-around;
}
.card-body{
    height: 8rem;
}